html{
    height: 100%;
    width: 100%;
    margin: 0%;
}

@media (max-width:980px){
    
    body{
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: black;
        overflow-y: scroll;
    }
    
    
    /*HEADER*/
    header{
        height: 8%;
        width: 100%;
        background-color: rgb(46, 25, 6);
        position: relative;
    }
    
    header p{
        width: 100%;
        position: absolute;
        display: inline-block;
        font-size: 2.5em;
        text-align: center;
        color: wheat;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 3%;
    }
    
    #mainBotones{
        width: 100%;
        height: 4%;
        background-color: rgb(46, 25, 6);
        display: none;
    }
    
    /*BODY*/
    #botones{
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        height: 50%;
        border-radius: 0.5em;
        margin-left: 40%;
        position: absolute;
    }
    
    #left{
        float: left;
        width: 100%;
        height: 82%;
        background-color: rgb(70, 54, 38);
        transition: width 1.5s;
        position: relative;
    }
    
    #right{ 
        float: left;
        width: 100%;
        height:82%;
        background: wheat;
        transition: width 1.5s;
    }

    
    .info{
        height: 90%;
        width: 90%;
        margin-left: 5%;
        background-color: white;
        opacity: 0.85;
        margin-top: 35px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        position: absolute;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
    .info2{
        height: 90%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        /*background-color: black;*/
        opacity: 0.85;
        margin-top: 35px;
        /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);*/
        position: relative;
        overflow: hidden;
    }
    
    #columnchart_values{
        width: 80%;
        height: 50%;
        position: absolute;
        margin-left: 10%;
        margin-top: 45%;
        opacity: 1;
        transition: opacity 1s;
    }
    
    #hiddeninfo{
        width: 30%;
        height: 40%;
        background-color: rgb(37, 37, 37);
        position: absolute;
        margin-left: 45%;
        opacity: 0;
        transition: opacity 1s;
        margin-top: 600px;
    
    }
    
    
    /*TABLA*/
    .styled-table {
        border-collapse: collapse;
        font-size: 0.9em;
        font-family: sans-serif;
        width: 100%;
        height: auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        opacity: 1;
        transition: opacity 0.85s;
        position: absolute;
    }
    
    
    /*TABLA*/
    .styled-table {
        border-collapse: collapse;
        font-size: 1.2pc;
        font-family: sans-serif;
        width: 65%;
        height: auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        opacity: 1;
        transition: opacity 0.85s;
        position: absolute;
        margin-top: 40px;
        margin-left: 5%;
        float: left;
    }

    #ledpanel{
        width: 25%;
        height: auto;
        margin-top: 40px;
        position: absolute;
        float: right;
        margin-left: 72%;
    }

    #ledtable{
        margin: 0%;
        text-align: center;
        font-size: 1.2pc;
        font-family: sans-serif;
        width: 100%;
        height: auto;
    }

    .led{
        height: 1.2pc;
        width: 1.2pc;
        background: radial-gradient(circle, rgba(7,255,2,1) 38%, rgba(15,117,20,1) 92%);
        box-shadow: 0 0 5px rgb(9, 197, 6);
        border-radius: 50%;
        display: inline-block;
    }

    .led2{
        height: 1.2pc;
        width: 1.2pc;
        background: radial-gradient(circle, rgba(7,255,2,1) 38%, rgba(15,117,20,1) 92%);
        box-shadow: 0 0 5px rgb(9, 197, 6);
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    #iniciarbtn{
        height: 4pc;
        width: 4pc;
        background: radial-gradient(circle, rgba(87,87,87,1) 0%, rgba(50,50,50,1) 100%); 
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    
    #iniciarbtn svg {
        width: 3.5pc;
        height: 3.5pc;
        fill: white;
        margin-left: 1%;
        margin-top: 3.5%;
    }
    
    .styled-table thead tr {
        background-color: #412d02;
        color: #ffffff;
        text-align: left;
    }
    
    .styled-table th,.styled-table td {
        padding: 12px 15px;
    }
    
    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    
    .styled-table tbody tr {
        background-color: #f3f3f3;
    }
    
    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #412d02;
    }
    
    
    /*FOOTER*/
    footer{
        height: 3%;
        width: 100%;
        background-color: rgb(46, 25, 6);
        display: inline-block;
        position: relative;
    }
    
    footer p{
        color:wheat;
        font-size: 1.7pc;
        font-family: 'Times New Roman', Times, serif;
        position: absolute;
        margin-top: 0.5%;
        margin-left: 2.4%;
    }
    
    footer img{
        position: absolute;
        right: 0;
        margin-top: 0.5%;
        margin-right: 2.5%;
    }
    
    /*ANIMACION*/
    #ejemplo{
        margin-left:48%;
        width: 40px;
        height: 70px;
        background-color: rgb(93, 48, 21);
        animation-iteration-count: infinite;
        animation-name: abajo;
        animation-duration: 3s;
    }
    
    @keyframes abajo{
        from{
            margin-top: 20px;
    
        }
        to{
            margin-top: 550px;
        }
    }    

}

